## Project: Treating Gambling addictions:
A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. The institute has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities.

For the first version of the app, they want us to focus on the 6/49 lottery and build functions that enable users to answer questions like:

    What is the probability of winning the big prize with a single ticket?
    What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
    What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?
    
The institute also wants us to consider historical data coming from the national 6/49 lottery game in Canada. The data set has data for 3,665 drawings, dating from 1982 to 2018 (we'll come back to this).

The data set contains historical data for 3,665 drawings (each row shows data for a single drawing), dating from 1982 to 2018. For each drawing, we can find the six numbers drawn in the following six columns:

    NUMBER DRAWN 1
    NUMBER DRAWN 2
    NUMBER DRAWN 3
    NUMBER DRAWN 4
    NUMBER DRAWN 5
    NUMBER DRAWN 6

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [9]:
lot = pd.read_csv("649.csv")

In [10]:
lot.head()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34
3,649,4,0,7/3/1982,3,9,10,13,20,43,34
4,649,5,0,7/10/1982,5,14,21,31,34,47,45

In [2]:
def factori(n):
    if n == 0:
        return 1
    else:
        return n*factori(n-1)

In [6]:
def combi(n,k):
    return factori(n)/(factori(k)*factori(n-k))

In the 6/49 lottery, six numbers are drawn from a set of 49 numbers that range from 1 to 49. User should enter the six numbers to the app and it will tell the prob of winning.

In [7]:
def one_ticket_prob(numbers):
    prob = combi(49,6)
    print("You have the chance to WIN the Lottery of about one in: ",prob)

In [8]:
one_ticket_prob(5)

You have the chance to WIN the Lottery of about one in:  13983816.0

In [61]:
# Extracting the numbers from the data set
def extract_numbers(row):
    vals = row[4:10].values
    return set(vals)

In [64]:
winners = lot.apply(extract_numbers, axis = 1)

In [66]:
winners.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [79]:
def check_history(user,win):
    user = set(user)
    won = win.apply(lambda x: x == user).sum()
    print("User match is: ", won, "times")

In [80]:
check_history(user,winners)

User match is:  1 times

In [76]:
user = set([3,9,10,43,13,20])
won = winners.apply(lambda x: x == user)
won.sum()

1

In [111]:
def multi_ticket(tikets):
    prob = 100*tikets/combi(49,6)
    print(" Your chances of winning are  of: {:.5f} %".format(prob))

In [112]:
multi_ticket(10)

 Your chances of winning are  of: 0.00007 %

In [115]:
1/combi(49,5)

5.244157484146912e-07